build/
build-new/
build-old/
test-update-host/
update.json
.vcpkg/
lobby.json
server/zsilencer-lobby
server/zsilencer-lobby.exe
server/zsilencer-lobby.exe~
server/*.tmp
*.o
*.obj

# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfvars
!terraform/**/*.tfvars.example
terraform/**/backend.hcl
!terraform/**/backend.hcl.example
